<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Basic"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="172.18.0.1"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="120"/>
    <intAttribute key="maxHeapSize" value="80"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="current_move, stack, move, registers, pc, current_count"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants"/>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="0Termination"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="8"/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="Nil;;Nil;1;0"/>
        <listEntry value="Literals;;{a, b, c};1;0"/>
        <listEntry value="defaultInitValue;;defaultInitValue;1;0"/>
        <listEntry value="RegisterCount;;3;0;0"/>
        <listEntry value="InstrCount;;3;0;0"/>
    </listAttribute>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="45"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="LAM_ISA_Move"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
