<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Basic_SnapShot_1608383150336"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="172.18.0.1"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="65"/>
    <intAttribute key="maxHeapSize" value="80"/>
    <stringAttribute key="modelBehaviorInit" value="Init"/>
    <stringAttribute key="modelBehaviorNext" value="Next"/>
    <stringAttribute key="modelBehaviorSpec" value="AllRegistersAreValid"/>
    <intAttribute key="modelBehaviorSpecType" value="2"/>
    <stringAttribute key="modelBehaviorVars" value="current_move, stack, move, global_registers, pc, local_registers, current_count"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1TypeInvariant"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties"/>
    <intAttribute key="modelEditorOpenTabs" value="8"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="Nil;;Nil;1;0"/>
        <listEntry value="defaultInitValue;;defaultInitValue;1;0"/>
        <listEntry value="RegisterCount;;8;0;0"/>
        <listEntry value="InstrCount;;10;0;0"/>
        <listEntry value="Literals;;{a, b, c, d};1;1"/>
    </listAttribute>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="45"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="LAM_ISA_Move"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
