**/*.rs.bk
**/target
*.exe
*.opt
*.tar.gz
*.wasm
.cache
Cargo.lock
debug
dist
docs
spec/*.old
spec/*.pdf
spec/*.toolbox/**/*-*-*-*-*-*
spec/*.toolbox/**/*.out
spec/*.toolbox/**/*.tla
spec/*.toolbox/**/MC.cfg
spec/*.toolbox/*.log
spec/*.toolbox/*.pdf
spec/*.toolbox/*.tex
spec/*.toolbox/*_SnapShot*.launch
spec/*.toolbox/*aux
manual/book
